# Python
__pycache__
*.pyc
*.pyo
.venv
venv
.pytest_cache
.mypy_cache
.ruff_cache
.coverage
htmlcov

# Tests + tooling (image hajmini kichraytirish)
tests
.pre-commit-config.yaml

# Local
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# Editor
.vscode
.idea
